{%extends 'base.html'%}
{%block main_content%}

    <form action='' method='POST' novalidate>
        {{form.hidden_tag()}}
        {{form.typeCom.label}}
        {{form.typeCom()}}
        {%for error in form.typeCom.errors%}
            {{error}}
        {%endfor%}
        <br>
        {{form.date.label}}
        {{form.date()}}
        {%for error in form.date.errors%}
            {{error}}
        {%endfor%}
        <br>
        {{form.complaint.label}}
        {{form.complaint()}}
        {%for error in form.complaint.errors%}
            {{error}}
        {%endfor%}
        <br>
        {{form.email.label}}
        {{form.email()}}
        {%for error in form.email.errors%}
            {{error}}
        {%endfor%}
        <br>
        {{form.submit()}}
    </form>



{%endblock%}
