{%extends 'base.html'%}
{%block main_content%}
    <form action='' method='POST' novalidate>
        {{form.hidden_tag()}}
        {{form.response.label}}
        {{form.response()}}
        {% for error in form.response.errors%}
            {{error}}
        {%endfor%}
        <br>
        {{form.date.label}}
        {{form.date()}}
        {% for error in form.date.errors%}
            {{error}}
        {%endfor%}
        <br>
        {{form.submit()}}

    </form>

{%endblock%}